html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 10vw;
  background-color: rgb(175, 225, 200);
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
}

.headerlogo {
  width: 18vw;
}

.headertitle {
  width: 18vw;
  margin-right: 2%;
}

.randomanimalscontainer {
  margin-top: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 90vw;
  position: fixed;
}

.nextbutton {
 /* margin-top: 0.5%;
 align-self: flex-end;
 margin-right: 2%; */
}

.randomanimalform {
  display: flex;
  width: 100%;
  
}

.randomimagescontainer {
  display: flex;
  flex-direction: row;
  margin-top: 10vw;
  height: 20vw;
  width: 100%;
  margin-left: 12vw;

}

.randomcatimage {
  width: 20vw;
  margin-right: 5vw;
  border: 5px solid rgb(209,148,190);
}

.randomdogimage {
  width: 20vw;
  border: 5px solid rgb(209,148,190);
}

.randomcatsidebar {
  width: 24vw;
  height: 60vw;
  background-color: rgb(64, 64, 64);
  color: white;
  padding-left: 1vw;
  padding-top: 1vw;
  font-size: 1.4vw;
}

.randomdogsidebar {
  width: 24vw;
  height: 60vw;
  background-color: rgb(64, 64, 64);
  color: white;
  margin-left: auto;
  padding-left: 1vw;
  padding-top: 1vw;
  font-size: 1.4vw;
}

.randombuttonscontainer {
  position: absolute;
  margin-left: 60vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  width: 21vw;
}

.randombuttonscontainer > button {
  background-color: rgb(209,148,190);
}

#catImg {
  max-height: 250px;
  max-width: 250px;
  position: absolute;
  top: 25%;
  left: -20%;
  animation: catAnimateImages 500ms linear forwards;
}

.checkbox {
  width: 2vw;
}

input[type='checkbox'] {
  accent-color: rgb(209,148,190);
}

input:focus {
  background-color: rgb(209,148,190);
}


@keyframes catAnimateImages {
  0% {
    left: 0%;
    top: 25%;
  }

  100% {
    border: 2px solid rgb(249, 214, 14);
    left: 23%;
    top: 25%;
  }
}

#vsImg {
  max-height: 250px;
  max-width: 250px;
  animation: vsAnimateImages 500ms 2s linear forwards;
  position: absolute;
  top: -20%;
  right: 43%;

}

@keyframes vsAnimateImages {

  0% {
    right: 43%;
    top: 0%;
  }

  100% {
    right: 43%;
    top: 25%;
  }
}

#dogImg {
  max-height: 250px;
  max-width: 250px;
  animation: dogAnimateImages 500ms 1s linear forwards;
  position: absolute;
  top: 25%;
  right: -20%;
}

@keyframes dogAnimateImages {

  0% {
    right: 0%;
    top: 25%;
  }

  100% {
    border: 2px solid rgb(243, 114, 85);
    right: 25%;
    top: 25%;
  }
}


/* .editcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  background-color: rgb(35, 36, 36);
  position: absolute;
  left:0px;
  justify-content: center;
} */
.favouritescontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  background-color: aqua;
  position: absolute;
  left:20%;
  justify-content: center;
  
}


#fav {
  background-color: chartreuse;
  margin: 5px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 30%;
  /* position: absolute;
  left:20%; */
  justify-content: center;
  text-align: center;
  /* position: relative;
  float: inline-end; */
  /* width: 300px;
  height: 500px; */
  /* width: 30%; */
}
#fav>img {
  width: 90%;
}