html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 10vw;
  background-color: rgb(175, 225, 200);
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
}

.headerlogo {
  width: 18vw;
}

#backFromFav {
  position: fixed;
  top: 11vw;
  left:2vw;
  width: 16vW;
}

.headertitle {
  width: 18vw;
  margin-right: 2%;
}

.randomanimalscontainer {
  margin-top: 10vw;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vw;
  position: fixed;
}

.nextbutton {
 /* margin-top: 0.5%;
 align-self: flex-end;
 margin-right: 2%; */
}

.randomanimalform {
  display: flex;
  width: 100%;
}

.randomimagescontainer {
  display: flex;
  flex-direction: row;
  margin-top: 5vw;
  height: 20vw;
  width: 100%;
}

.randomcatimage {
  width: 20vw;
  margin-right: 5vw;

}

.randomdogimage {
  width: 20vw;
}

.randomcatsidebar {
  width: 18vw;
  height: 60vw;
  background-color: rgb(64, 64, 64);
  color: white;
  
}

.randomdogsidebar {
  width: 18vw;
  height: 60vw;
  background-color: rgb(64, 64, 64);
  color: white;
  margin-left: auto;
}

.randombuttonscontainer {
  position: absolute;
  margin-left: 60vw;
}

#catImg {
  max-height: 250px;
  max-width: 250px;
  position: absolute;
  top: 25%;
  left: -20%;
  animation: catAnimateImages 500ms linear forwards;
}

@keyframes catAnimateImages {
  0% {
    left: 0%;
    top: 25%;
  }

  100% {
    border: 2px solid rgb(249, 214, 14);
    left: 23%;
    top: 25%;
  }
}

#vsImg {
  max-height: 250px;
  max-width: 250px;
  animation: vsAnimateImages 500ms 2s linear forwards;
  position: absolute;
  top: -20%;
  right: 43%;

}

@keyframes vsAnimateImages {

  0% {
    right: 43%;
    top: 0%;
  }

  100% {
    right: 43%;
    top: 25%;
  }
}

#dogImg {
  max-height: 250px;
  max-width: 250px;
  max-height: 250px;
  max-width: 250px;
  animation: dogAnimateImages 500ms 1s linear forwards;
  position: absolute;
  top: 25%;
  right: -20%;
}

@keyframes dogAnimateImages {

  0% {
    right: 0%;
    top: 25%;
  }

  100% {
    border: 2px solid rgb(243, 114, 85);
    right: 25%;
    top: 25%;
  }
}
#teamName{
  opacity: 0;
  top: 45%;
  left:33%;
  position: absolute;
  animation: teamAnimateImages 2s 3s linear forwards;
}
@keyframes teamAnimateImages {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.editcontainer{
  padding-top:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  height: 20vW;
  background-color: rgb(170, 240, 30);
  position: absolute;
  left:0px;
  top:15vw;
  justify-content: center;
}

/* .editcontainer>form>label {
  display:flex;
} */

.editcontainer>form>label>input[type=text] {
  width: 18vw;
}
.editcontainer>form>label>input[type=number] {
  width: 18vw;
  margin-bottom: 5px;
}
.editcontainer>form>label>textarea {
  width: 18vw;
}

.favouritescontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgb(201, 204, 203);
  position: absolute;
  left:20%;
  justify-content: center;
}

#fav {
  background-color: rgb(181, 235, 75);
  margin: 5px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 30%;
  /* position: absolute;
  left:20%; */
  justify-content: center;
  text-align: center;
  /* position: relative;
  float: inline-end; */
  /* width: 300px;
  height: 500px; */
  /* width: 30%; */
}
#fav>img {
  width: 90%;
}
